.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:rgb(41, 44, 51);
  color: white;
  height: 100vh;
}

.OrderForm {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.OrderDetails {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  vertical-align: middle;
}
